<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Review</title>
    <!-- <link rel="stylesheet" href="test.css"> -->
    <link rel="stylesheet" href="../shared/style.css">
    <link rel="stylesheet" href="../shared/createReview.css">
</head>

<body>

    <nav>
        <div class="container nav-container">
            <a href="/home">
                <h2 class="logo">
                    IDis
                </h2>
            </a>
    </nav>
    <form class="form" action="/createReview" method="POST">
        <div class="title">Create Review</div>
        <div class="subtitle">Enter details</div>
        <div class="form-group">
            <!-- <label for="exampleFormControlSelect1">Select Product</label> -->
            <select class="form-control" id="productId" name="productId">
                <option value="" selected disabled>Select Product</option>
            </select>
        </div>
        <div class="form-group">
            <!-- <label for="exampleFormControlSelect1">Select Product</label> -->
            <select class="form-control" id="mySelect2" name="mySelect2">
                <option value="" selected disabled>Select Rating</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Review Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Enter the price">
        </div>
        <div class="form-group">
            <label for="price">Store</label>
            <input type="text" class="form-control" id="store" name="store" placeholder="Enter the store">
        </div>
        <div class="input-container ic2">
            <input id="bought_on" name="bought_on" class="input" type="date" placeholder=" " required />
            <div class="cut"></div>
            <label for="bought_on" class="placeholder">Bought on</label>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Review</label>
            <textarea class="form-control" id="body" name="body" rows="10" cols="100" placeholder="Enter your review">Enter your review
                </textarea>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</body>
<script src="../shared/createReview.js">

</script>

</html>