<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'> -->
    <link rel="stylesheet" href="../shared/style.css">
    <link rel="stylesheet" href="../shared/profilePageStyles.css">
    <link rel="stylesheet" href="../shared/productStyles.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Document</title>
</head>
<nav>
    <div class="container nav-container">
        <a href="/home">
            <h2 class="logo">
                IDis
            </h2>
        </a>
        <div class="search-bar">
            <img src="../shared/icon/search.svg" class="icon2">
            <input type="search" placeholder="search for review...">
        </div>
        <div class="create">
            <label for="creatPost"> <a class="btn btn-primary" href="/login">Logout</a></label>
            <a href="/profile">
                <div class="profile-phots">
                    <img src="../shared/img/profile-1.jpg" alt="">
                </div>
            </a>
        </div>
    </div>
</nav>
<main class="container">
    <div class="post-wrap">
        <div class="post">
            <div class="product-details">
                <div class="product-category md dkt">{{interest_name}}</div>
                <div class="post-photo">
                    <a href="product.html"><img src="../shared/img/{{photo}}" alt=""></a>
                </div>
            </div>
            <div class="review">
                <div class="review-title">
                    <span>{{name}}</span>
                </div>
                <div class="rating rating-sm">
                    <img src="../shared/img/star.png" alt="">
                    <img src="../shared/img/star.png" alt="">
                    <img src="../shared/img/star.png" alt="">
                    <img src="../shared/img/star.png" alt="">
                    <img src="../shared/img/star.png" alt="">
                    <span>3 Reviews</span>
                </div>
                <div class="review-text">
                    <span>{{description}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <h3>Reviews</h3> -->

<main>
    <div class="container main-container">
        <div class="main-left">
            <div class="side-bar">
                <a class="menu-item active">
                    <span><img src="../shared/icon/house-door.svg" class="icon1"></span>
                    <h3>Reviews</h3>
                </a>
                <a class="menu-item " id="Description">
                    <span><img src="../shared/icon/palette.svg" class="icon1"></span>
                    <h3>Description</h3>
                </a>
                <a class="menu-item" id="specifications">
                    <span><img src="../shared/icon/category-icon.svg" class="icon1"></span>
                    <h3>Specifications</h3>
                </a>
                <a class="menu-item ">
                    <span><img src="../shared/icon/graph-up-arrow.svg" class="icon1"></span>
                    <h3>analytics</h3>
                </a>
                <a class="menu-item g">
                    <span><img src="../shared/icon/gear.svg" class="icon1"></span>
                    <h3>setings</h3>
                </a>

                <a href="/createReview"><label for="creatPost" class="btn btn-primary">create review</label></a>

            </div>

        </div>

        <div class="main-mid">
            <div class="posts-container">
                <div class="chart-container post-wrap">
                    <div class="chart">
                        <div class="rate-box">
                            <span class="value">5</span>
                            <div class="progress-bar">
                                <span class="progress"></span>
                            </div>
                            <span class="count">3</span>
                        </div>
                        <div class="rate-box">
                            <span class="value">4</span>
                            <div class="progress-bar"><span class="progress"></span></div>
                            <span class="count">0</span>
                        </div>
                        <div class="rate-box">
                            <span class="value">3</span>
                            <div class="progress-bar"><span class="progress"></span></div>
                            <span class="count">0</span>
                        </div>
                        <div class="rate-box">
                            <span class="value">2</span>
                            <div class="progress-bar"><span class="progress"></span></div>
                            <span class="count">0</span>
                        </div>
                        <div class="rate-box">
                            <span class="value">1</span>
                            <div class="progress-bar"><span class="progress"></span></div>
                            <span class="count">0</span>
                        </div>
                    </div>
                    <div class="global">
                        <span class="global-value">0.0</span>
                        <div class="rating-bg rating">
                            <img src="../shared/img/star.png" alt="">
                            <img src="../shared/img/star.png" alt="">
                            <img src="../shared/img/star.png" alt="">
                            <img src="../shared/img/star.png" alt="">
                            <img src="../shared/img/star.png" alt="">
                        </div>
                        <span class="total-reviews">0</span>
                    </div>
                </div>
                <div class="post-wrap">
                    <div class="head">
                        <div class="profile-phots">
                            <img src="../shared/img/p7.png" alt="">
                        </div>
                        <div class="info">
                            <h3>costel biju</h3>
                        </div>
                        <span class="edit">
                            <img src="../shared/icon/three-dots.svg" class="icon1">
                        </span>
                    </div>
                    <div class="post">
                        <div class="product-details">
                            <div class="product-name">Masina de tocat Albatros</div>
                            <div class="post-photo">
                                <img src="../shared/img/tocat.jpg" alt="">
                            </div>
                        </div>
                        <div class="review">
                            <div class="rating">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                            </div>
                            <div class="review-title">
                                <span>Titlu review</span>
                            </div>
                            <div class="review-text">
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum inventore
                                    ipsa enim
                                    sunt,
                                    nam quae. Hic quasi fugiat commodi laborum odio illo, vel, velit quam iste
                                    expedita, ipsum
                                    nemo
                                    asperiores.
                                </span>
                            </div>
                            <div class="separator"></div>
                            <div class="price review-detail">Price:<span>150</span></div>
                            <div class="bought-from review-detail">Bought from:<span>Altex</span></div>
                            <div class="bought-on review-detail">Bought on:<span>11-1-2011</span></div>
                        </div>
                    </div>
                </div>
                <div class="post-wrap">
                    <div class="head">
                        <div class="profile-phots">
                            <img src="../shared/img/p7.png" alt="">
                        </div>
                        <div class="info">
                            <h3>costel biju</h3>
                        </div>
                        <span class="edit">
                            <img src="../shared/icon/three-dots.svg" class="icon1">
                        </span>
                    </div>
                    <div class="post">
                        <div class="product-details">
                            <div class="product-name">Masina de tocat Albatros</div>
                            <div class="post-photo">
                                <img src="../shared/img/tocat.jpg" alt="">
                            </div>
                        </div>
                        <div class="review">
                            <div class="rating">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                                <img src="../shared/img/star.png" alt="">
                            </div>
                            <div class="review-title">
                                <span>Titlu review</span>
                            </div>
                            <div class="review-text">
                                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum inventore
                                    ipsa enim
                                    sunt,
                                    nam quae. Hic quasi fugiat commodi laborum odio illo, vel, velit quam iste
                                    expedita, ipsum
                                    nemo
                                    asperiores.
                                </span>
                            </div>
                            <div class="separator"></div>
                            <div class="price review-detail">Price:<span>150</span></div>
                            <div class="bought-from review-detail">Bought from:<span>Altex</span></div>
                            <div class="bought-on review-detail">Bought on:<span>11-1-2011</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
<script src="script.js"></script>
</body>
<script src="scriptNavBar.js"></script>

</html>