<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../shared/style.css" />
    <link rel="stylesheet" href="../shared/login.css" />
  </head>

  <body>
    <form class="form" onsubmit="submitForm(event)" method="PUT">
      <div class="title">Welcome</div>
      <div class="subtitle">Change your password!</div>
      <div class="input-container ic2">
        <input
          id="email"
          name="email"
          class="input"
          type="text"
          placeholder=" "
          required
        />
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input
          id="password"
          name="password"
          class="input"
          type="password"
          placeholder=" "
          required
        />
        <div class="cut cut-short"></div>
        <label for="password" class="placeholder">Old Password</label>
        <div class="input-container ic2">
        <input
          id="newpassword"
          name="newpassword"
          class="input"
          type="password"
          placeholder=" "
          required
        />
        <div class="cut cut-short"></div>
        <label for="password" class="placeholder">New Password</label>
        
      </div>
      <input type="submit" value="Submit" class="submit" />
    </form>
  </body>
  <script>
    const id = window.location.href.split("/")[4];
    if(id!==null)
{
     fetch(`http://127.0.0.1:3000/api/users/${id}`)
    .then((response) => response.json())
    .then((userFetched) => {
        //fetching email
      let email = document.getElementById("email");
      email.value = userFetched.email;
    });
}

     function submitForm(event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    const action = form.getAttribute('action');

    const formatdata = {};
  for (let [key, value] of formData.entries()) {
    formatdata[key] = value;
  }
 formatdata.id=id;

    fetch(`/changePassword/${id}`, {
      method: 'PUT',
      headers: {
      'Content-Type': 'application/json'
    },
      body: JSON.stringify(formatdata)
    })
      .then(response => {
        if (response.ok) {
            window.location.href="/profile";
          
        } else {
          console.error('PUT request failed');
        }
      })
      .catch(error => {
        console.error('An error occurred:', error);
      });
  }


  </script>
</html>
